html {
  font-size: 40px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Inter", sans-serif;
}

/* Bold */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}

p.first {
  font-family: "Inter";
  font-weight: bold;
  font-style: normal;
}

p.second {
  font-family: "Inter";
  font-weight: 400;
}
